html {
    background-color: #D7E4C0;
}

h1 {
    color: #597E52;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: #C6A969;
}
nav>ul {
    background-color: #F1E4C3;
    text-align: center;
    list-style-type: none;
}
nav>ul>li {
    color: black;
    font-size: large;
    display: inline;
    margin-right: 20px;
}
.center {
    text-align: center;
}
ol {
    list-style-position: inside;
    text-align: center;
}